In [4]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [5]:
# Read the data into a Pandas DataFrame
bitcoin_df = pd.read_excel('Resources/BTC-USD.xlsx')
bitcoin_df.head(30)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300
14,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400
15,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700
16,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200
17,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500
18,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800
20,2014-10-07,330.584015,339.247009,320.481995,336.187012,336.187012,49199900
21,2014-10-08,336.115997,354.364014,327.187988,352.940002,352.940002,54736300
22,2014-10-09,352.747986,382.726013,347.687012,365.026001,365.026001,83641104
23,2014-10-10,364.687012,375.066986,352.963013,361.562012,361.562012,43665700
24,2014-10-11,361.362000,367.191010,355.950989,362.299011,362.299011,13345200
25,2014-10-12,362.605988,379.433014,356.144012,378.549011,378.549011,17552800
26,2014-10-13,377.920990,397.226013,368.897003,390.414001,390.414001,35221400
27,2014-10-14,391.691986,411.697998,391.324005,400.869995,400.869995,38491500
28,2014-10-15,400.954987,402.226990,388.765991,394.773010,394.773010,25267100
29,2014-10-16,394.518005,398.807007,373.070007,382.556000,382.556000,26990000

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
bitcoin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3228 entries, 0 to 3227
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3228 non-null   datetime64[ns]
 1   Open       3228 non-null   float64
 2   High       3228 non-null   float64
 3   Low        3228 non-null   float64
 4   Close      3228 non-null   float64
 5   Adj Close  3228 non-null   float64
 6   Volume     3228 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 176.7 KB

In [6]:
# Get the crowdfunding_info_df columns.
bitcoin_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [8]:
bitcoin_df['Date'] = pd.to_datetime(bitcoin_df['Date'])

# Specify the start and end dates
start_date = pd.to_datetime('2019-01-01')
end_date = pd.to_datetime('2023-12-21')

# Filter the data based on the date range
filtered_df = bitcoin_df[(bitcoin_df['Date'] >= start_date) & (bitcoin_df['Date'] <= end_date)]

# Drop unwanted columns
bitcoin_df=filtered_df.drop(["Adj Close", "Volume"],axis =1)


# Print the filtered data
print(bitcoin_df)

           Date          Open          High           Low         Close
1567 2019-01-01   3746.713379   3850.913818   3707.231201   3843.520020
1568 2019-01-02   3849.216309   3947.981201   3817.409424   3943.409424
1569 2019-01-03   3931.048584   3935.685059   3826.222900   3836.741211
1570 2019-01-04   3832.040039   3865.934570   3783.853760   3857.717529
1571 2019-01-05   3851.973877   3904.903076   3836.900146   3845.194580
...         ...           ...           ...           ...           ...
3223 2023-07-15  30331.783203  30407.781250  30263.462891  30295.806641
3224 2023-07-16  30297.472656  30437.560547  30089.669922  30249.132813
3225 2023-07-17  30249.626953  30336.400391  29685.783203  30145.888672
3226 2023-07-18  30147.070313  30233.656250  29556.427734  29856.562500
3227 2023-07-20  29919.064453  30224.115234  29918.281250  30189.902344

[1661 rows x 5 columns]

In [9]:
# Export the selected dataframe to a new CSV file
bitcoin_df.to_csv('bitcoin_df.csv', index=False)