In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [2]:
# Read the data into a Pandas DataFrame
ethereum_df = pd.read_excel('Resources/Ethereum.xlsx')
ethereum_df.head(30)

         Date   Open   High    Low  Close  Volume Currency
0  2016-03-10  11.20  11.85  11.07  11.75       4      USD
1  2016-03-11  11.75  11.95  11.75  11.95     179      USD
2  2016-03-12  11.95  13.45  11.95  12.92     833      USD
3  2016-03-13  12.92  15.07  12.92  15.07    1295      USD
4  2016-03-14  15.07  15.07  11.40  12.50   92183      USD
5  2016-03-15  12.63  13.42  11.98  13.06   39725      USD
6  2016-03-16  13.06  13.89  12.62  12.88   19240      USD
7  2016-03-17  12.58  12.61  10.44  10.74   89450      USD
8  2016-03-18  11.09  11.20   8.34  10.74  157374      USD
9  2016-03-19  10.97  11.10   9.78  10.31   67547      USD
10 2016-03-20  10.55  10.88   9.56  10.18   33177      USD
11 2016-03-21  10.18  12.05  10.14  11.95   38857      USD
12 2016-03-22  11.53  11.97  11.08  11.37   26285      USD
13 2016-03-23  11.37  12.43  11.20  12.43   27024      USD
14 2016-03-24  12.43  12.47  10.67  11.20   50796      USD
15 2016-03-25  11.32  11.35  10.52  10.67   87423      USD
16 2016-03-26  10.67  11.20  10.58  11.00   16125      USD
17 2016-03-27  10.93  10.98  10.17  10.40   55815      USD
18 2016-03-28  10.40  11.94  10.40  11.62   77312      USD
19 2016-03-29  11.78  11.88  11.37  11.79   47572      USD
20 2016-03-30  11.79  12.30  11.44  11.85   36960      USD
21 2016-03-31  11.92  12.02  11.29  11.41   32669      USD
22 2016-04-01  11.41  11.94  11.39  11.62   22197      USD
23 2016-04-02  11.65  11.77  11.43  11.61   12173      USD
24 2016-04-03  11.61  11.76  11.40  11.75   18851      USD
25 2016-04-04  11.60  11.67  10.88  11.15   38742      USD
26 2016-04-05  11.15  11.15   9.70  10.40   53389      USD
27 2016-04-06  10.40  10.96  10.20  10.76   40040      USD
28 2016-04-07  10.76  10.85   9.40  10.12   50740      USD
29 2016-04-08  10.05  10.34   9.60   9.71   25974      USD

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
ethereum_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2358 non-null   datetime64[ns]
 1   Open      2358 non-null   float64
 2   High      2358 non-null   float64
 3   Low       2358 non-null   float64
 4   Close     2358 non-null   float64
 5   Volume    2358 non-null   int64
 6   Currency  2358 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 129.1+ KB

In [4]:
# Get the crowdfunding_info_df columns.
ethereum_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Currency'], dtype='object')

In [5]:
ethereum_df['date'] = pd.to_datetime(ethereum_df['Date'])

# Specify the start and end dates
start_date = pd.to_datetime('2019-01-01')
end_date = pd.to_datetime('2023-12-21')

# Filter the data based on the date range
filtered_df = ethereum_df[(ethereum_df['Date'] >= start_date) & (ethereum_df['Date'] <= end_date)]

# Drop unwanted columns
ethereum_df=filtered_df.drop(["date"],axis =1)
ethereum_df=filtered_df.drop(["Currency"],axis =1)


# Print the filtered data
print(ethereum_df)

           Date     Open     High      Low    Close   Volume       date
1027 2019-01-01   131.90   140.51   130.67   139.61  3053350 2019-01-01
1028 2019-01-02   139.58   155.93   138.74   152.95  5511607 2019-01-02
1029 2019-01-03   152.96   154.30   144.39   146.94  4018093 2019-01-03
1030 2019-01-04   146.94   155.40   145.29   152.86  4923992 2019-01-04
1031 2019-01-05   152.87   159.78   152.84   153.49  4847379 2019-01-05
...         ...      ...      ...      ...      ...      ...        ...
2353 2022-08-19  1846.52  1846.97  1607.60  1609.48  1594321 2022-08-19
2354 2022-08-20  1609.01  1654.84  1525.51  1575.60  1007240 2022-08-20
2355 2022-08-21  1575.61  1644.88  1563.92  1618.25   852071 2022-08-21
2356 2022-08-22  1618.21  1627.13  1531.91  1626.75  1044290 2022-08-22
2357 2022-08-23  1626.70  1636.32  1615.55  1623.24  1053674 2022-08-23

[1331 rows x 7 columns]

In [6]:
# Get the crowdfunding_info_df columns.
ethereum_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'date'], dtype='object')

In [7]:
# Export the selected dataframe to a new CSV file
ethereum_df.to_csv('ethereum_df.csv', index=False)